{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "python"],
          "plugins": ["line-numbers"],
          "theme": "okaidia",
          "css": true
      }]
    ]
}